<html>
  <body>
    <div class="headers">
      <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em",  align: "left")%>
      <h1>TA Application Form</h1>
    </div>
    <%= render "form", student: @student %>
  </body>
<br>
</html>
