<html>
  <head>
    <style>
      body {
        padding: 25px;
      }
    </style>
  </head>
  <body>
        <div class="form__title"><h1>TA Application Form</h1></div>
        <%= render "form", student: @student %>
  </body>
<br>
</html>
