<html>
  <head>
    <style>
      body {
        padding: 25px;
      }
    </style>
  </head>
  <body>
    <form class="form">
        <div class="form_title"><h1>TA Application Form</h1></div>
        <%= render "form", student: @student %>
    </form>
  </body>
<br>
</html>
