<h1>Editing user</h1>
<header>
  <div class='container'>
    <nav>
      <ul>
        <li><%=link_to "Home", '/'  %></li>
        <li><%=link_to "View User", @user  %></li>
      </ul>
    </nav>
  </div>
</header>
<%= render 'shared/flashes' unless flash.nil?%>
<%= render "form", user: @user %>


