<html>
    <body>
        <div class="headers">
            <%= image_tag("ENGINEERING_logo_HWHT.png", :alt => "rss feed", width: "500em", height: "125em",  align: "left")%>
            <h1><span>welcome to</span><br>TA Management Portal</h1>
        </div>
    <main>
        
        <div class= "buttons">
            <%= link_to "Apply for TA Position", '/students/new', :method => "get"%>
        </div>
        <div class= "buttons">
            <%= link_to "Login", '/users/user/login', :method => "get" %>
        </div>
        <div class= "buttons">
            <%= link_to "SignUp", '/users/new', :method => "get" %>
        </div>
    </main>
    </body>
</html>
