<div id="<%= dom_id professor %>">
  <p>
    <strong>Course list:</strong>
    <%= professor.course_list %>
  </p>

  <p>
    <strong>Course section:</strong>
    <%= professor.course_section %>
  </p>

</div>
