

<h1>Professors</h1>

<div id="professors">
  <% @professors.each do |professor| %>
    <%= render professor %>
    <p>
      <%= link_to "Show this professor", professor %>
    </p>
  <% end %>
</div>

<%= link_to "New professor", new_professor_path %>
<%= button_to "Log out", '/users/user/login', :style=> 'position:absolute; top:0; right:0;', :method => "get" %>