<h1>New professor</h1>

<%= render "form", professor: @professor %>

<br>

<div>
  <%= link_to "Back to professors", professors_path %>
</div>
<%= button_to "Log out", '/users/user/login', :style=> 'position:absolute; top:0; right:0;', :method => "get" %>