<div id="<%= dom_id subject %>">
  <p>
    <strong>Course name:</strong>
    <%= subject.course_name %>
  </p>

  <p>
    <strong>Course section:</strong>
    <%= subject.course_section %>
  </p>

</div>
