/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.headers {
    padding: 0.5rem;
    text-align: center;
    background: #500000;
    color: white;
    font-size: large;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    padding-left: 1.25rem;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

span{
    font-style: italic;
    letter-spacing: 2px;
    margin-top: 0.2rem;
    font-size: 1.25rem;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    text-shadow: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.newsubject{
    position:absolute; top:0; right:0;
}

main {
    padding: 0px;
    font-size: 15px;
}

#tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tables td, #tables th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 1%;
    align: center
}

#tables tr:nth-child(even){background-color: #f2f2f2;}

#tables tr:hover {background-color: #ddd;}

#tables th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #500000  ;
    color: white;
}

.form{
    font-family: sans-serif;
    font-size: 16px;
    max-width: 500px;
    margin: 2rem auto;
    border:2px solid #500000;
    padding: 2rem;
}

.form * {
    box-sizing: border-box;
    line-height: 1.5;
}

.form__items{
    display: flex;
    flex-direction: column; 
}

.form__items > * {
    align-self: flex-start;
}

.form__lable {
    display: block;
    font-weight: 540;
    padding: 1rem 0 .15rem;
    font-size: 20px;
}

.form__input {
    width: 100%;
    box-sizing: border-box;
    border: 0.25ch;
    font-size: 20px;

}

#submit{
    border: 0;
    background: #500000;
    padding: .5rem;
    color:white;
    margin: 1rem 0;
    width: auto;
    cursor: pointer;
    transition: .3s background ease ;
}

#submit:hover{
    background: #920101;
    text-align: left;
    background-color: #cb4154  ;
    color: white;
}


#headers {
    background-color: #a52a2a;
}


.checkbox-wrapper {
    display: block;
}

.buttons{
    display: block;
    padding: 0.75rem;
    font-weight:bold;
    height:150%;
    border-radius:12px;
    border: solid #500000;
    width:25%;
    font-size: 2rem;
    text-align: center;
    margin: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    align-items: center;

}

.buttons {
    transition-duration: 0.4s;
  }
  
.buttons:hover {
    background-color: #cdc5c1;
    color: rgb(41, 13, 223);
}

.pp{
    font-family: sans-serif;
    font-size: 16px;
    max-width: 500px;
    margin: 1rem auto;
    border:2px solid #500000;
    padding: 1rem;
}

#tables th a:link {
    color: #FFFFFF;
}

#tables th a:visited {
    color: #FFFFFF;
}
#tables th a:hover {
    color: yellow;
}
#tables th a:active {
    color: #FFFFFF;
}

#tables td a:link {
    color: black;
}

#tables td a:visited {
    color: black;
}
#tables td a:hover {
    color: blue;
}
#tables td a:active {
    color: black;
}

.container{
    width: 100%;
    margin: auto;
    margin-top: 5%;
}

header{
    background: #500000;
}

nav{
    float: center;
}

nav ul{
    margin:0;
    padding:0;
    margin-top: 1px;
    list_style: none;
}

nav li{
    display:inline-block;
    margin-left:50px;
    padding-top:10px;
    padding-bottom: 10px;
}
nav a{
    color:white;
    text-decoration: none;
    text-transform:uppercase;
    font-size:14px;
}


.pagination{
    list-style: none;
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-left: 50%;
}

.pagination li {
    display: inline;
}

