/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.headers {
    padding: 5px;
    text-align: center;
    background: #500000;
    color: white;
    font-size: 15px;
    font-family: Copperplate, Papyrus, fantasy;
}

.newsubject{
    position:absolute; top:0; right:0;
}

main {
    padding: 0px;
    font-size: 15px;
}

#tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tables td, #tables th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#tables tr:nth-child(even){background-color: #f2f2f2;}

#tables tr:hover {background-color: #ddd;}

#tables th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #500000  ;
    color: white;
}

.form{
    font-family: sans-serif;
    font-size: 16px;
    max-width: 500px;
    margin: 2rem auto;
    border:2px solid #500000;
    padding: 2rem;
}

.form * {
    box-sizing: border-box;
    line-height: 1.5;
}
.form__title{
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    color: #500000;
}

.form__items{
    display: flex;
    flex-direction: column; 
}

.form__items > * {
    align-self: flex-start;
}

.form__label {
    display: block;
    font-weight: 600;
    padding: 1rem 0 .25rem;
    font-size: 14px;
}

.form__input {
    width: 100%;
    font-size: 12px;
}

#form_submit{
    border: 0;
    background: #500000;
    padding: .5rem;
    color:white;
    margin: 1rem 0;
    width: auto;
    cursor: pointer;
    transition: .3s background ease ;
}

#form_submit:hover{
    background: #920101;
}