<h1>Editing management</h1>

<%= render "form", management: @management %>

<br>

<div>
  <%= link_to "Show this management", @management %> |
  <%= link_to "Back to managements", managements_path %>
</div>
