

<h1>Managements</h1>

<div id="managements">
  <% @managements.each do |management| %>
    <%= render management %>
    <p>
      <%= link_to "Show this management", management %>
    </p>
  <% end %>
</div>

<%= link_to "New management", new_management_path %>
<%= button_to "Log out", '/users/user/login', :style=> 'position:absolute; top:0; right:0;', :method => "get" %>